.courseSearchPageWrapper {
  width: 134rem;

  margin: 0 auto;

  padding: 48px 24px;

  :global {
    .headerTitle {
      margin: 16px 0 32px;
    }
    .heading {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      .sortBtn {
        display: inline-block;
        position: relative;
        .classSelect {
          width: 176px;
          height: 60px !important;

          .ant-select-selection-item {
            color: #2d2f31;

            font-weight: 400;
            line-height: 1.4;
            font-size: 1.6rem;
          }
        }

        .label {
          position: absolute;
          bottom: 40px;
          left: 16px;
        }
      }

      .clearFilterBtn {
        margin-left: 12px;
      }

      .resultCount {
        color: #6a6f73;
        margin-left: auto;
      }
    }

    .filterRegion {
      display: flex;
      align-items: start;
      .filterSidebar {
        width: 311px;

        .accordionFilterPanel {
          .inputContainer {
            padding: 8px 0;
            display: flex;

            input[type='checkbox'] {
              width: 16px;
              height: 16px;

              flex-shrink: 0;

              border-radius: 0px;
            }

            label {
              margin-left: 0.8rem;

              line-height: 1.3;
            }

            .count {
              margin-left: 0.8rem;
              color: #6a6f73;

              line-height: 1.3;
            }
          }

          .radioType > *:not(:first-child) {
            margin-left: 8px;
          }
        }
      }

      .paginatedCourseList {
        margin-left: 20px;

        & > .courseCardContainer {
          border-bottom: 1px solid #d1d7dc;
          padding-bottom: 16px;
        }

        & > .courseCardContainer:not(:first-child) {
          padding-top: 16px;
        }

        .courseCardContainer {
          .courseCardContainer--inner {
            display: flex;
            align-items: start;

            &:hover,
            &:active {
              color: inherit;
            }

            &:hover .imgContainer img {
              opacity: 0.5;
            }

            .imgContainer {
              width: 224px;
              height: 137px;

              overflow: hidden;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
            .mainContent {
              margin-left: 20px;
              display: flex;
              flex-direction: column;
              gap: 6px;

              position: relative;

              padding-right: 9.6rem;
              .title {
              }
              .headline {
              }

              .rating {
                display: flex;
                align-items: center;
                .ratingCount {
                }
              }
              .details {
                display: flex;
                align-items: center;

                span {
                  display: flex;
                  align-items: center;
                }
                & > span:not(:first-child)::before {
                  content: '●';
                  margin: 0 0.4rem;
                  font-size: 0.6rem;
                }
              }

              .priceContainer {
                position: absolute;
                top: 0;
                right: 0;

                .basePrice {
                  text-decoration: line-through;
                }
              }
            }
          }
        }

        .paginationContainer {
          display: flex;
          justify-content: center;
          .pageinationClass {
            margin-top: 16px;

            .ant-pagination-options {
              display: none;
            }
          }
        }
      }
    }
  }
}

.rootClassSelect {
  border-radius: 0px;
  border-color: #2d2f31;
  :global {
    .ant-select-selector {
      width: 176px !important;
      height: 60px !important;
      padding: 20px 16px 0px !important;

      &:hover,
      &:active {
        background-color: rgba(23, 57, 83, 0.12);
        border-color: #2d2f31;
      }
      color: #6a6f73;
      border-color: #2d2f31 !important;
      border-radius: 0px;
    }

    .ant-select-arrow {
      color: #2d2f31;
    }

    .listbox {
      width: 100%;
    }
    .rc-virtual-list {
      .rc-virtual-list-holder {
        .rc-virtual-list-holder-inner {
          .ant-select-item.ant-select-item-option {
            border-radius: 0px;

            font-weight: 400;
            line-height: 1.4;
            font-size: 1.6rem;
            &:hover {
              background-color: rgba(0, 0, 255, 0.533);
              color: var(--color-gray-150);
            }
          }
        }
      }
    }
  }
}

.rootClassCoursCardTooltip {
  :global {
    .ant-tooltip-content {
      .ant-tooltip-inner {
      }
      .tooltipConentWrapper {
        width: 340px;
        padding: 24px;

        .contentHeader {
          margin-bottom: 8px;
        }

        .objectiveList {
          .objectiveItem {
            color: #2d2f31;

            display: flex;
            align-items: start;
            gap: 10px;
            .iconContainer {
              font-size: 16px;
              display: flex;
              align-items: start;

              margin-top: 4px;
              .icon {
              }
            }

            .text {
              margin-right: 16px;
            }
          }
        }
        .actionsBtn {
          margin-top: 16px;

          display: flex;
          align-items: center;
          gap: 10px;
          .addToCart {
            flex: 1;
          }
          .addWishlist {
            font-size: 40px;
          }
        }
      }
    }
  }
}

.rootCollapse {
  :global {
    .ant-collapse-item.ant-collapse-item-active {
      .ant-collapse-header {
        font-family: var(--font-stack-heading);
        font-weight: 700;
        line-height: 1.2;
        letter-spacing: 0;
        font-size: 1.9rem;
      }
      .inputCheckboxContainer {
        padding: 8px 0;
        display: flex;

        input[type='checkbox'] {
          width: 16px;
          height: 16px;

          flex-shrink: 0;

          border-radius: 0px;
        }

        label {
          margin-left: 0.8rem;

          line-height: 1.3;
        }

        .count {
          margin-left: 0.8rem;
          color: #6a6f73;

          line-height: 1.3;
        }
      }
    }
  }
}
