.authPage {
  :global {
    .authSection {
      width: 40rem;
      max-width: 100%;
      padding: 4.8rem 2.4rem;

      margin: 0 auto;

      .title {
        margin-bottom: 1.6rem;
      }

      .googleLoginContainer {
        height: 48px;
        padding: 0 12px;
        border: 1px solid #2d2f31;
        margin-bottom: 10px;

        display: flex;

        align-items: center;

        cursor: pointer;

        svg {
          width: 32px;
          height: 32px;
        }

        span {
          margin-left: 12px;
        }
      }
      .form {
        .ant-form-item {
          margin-bottom: 10px;
        }

        .inputWrapper {
          margin-bottom: 10px;
          .inputContainer {
            position: relative;

            .label {
              position: absolute;
              font-weight: 600;
              line-height: 1.4;
              font-size: 1.6rem;
              bottom: 50%;
              left: 17px;
              transform: translate(0, 50%);
              transition: ease 0.3s;
            }

            .antInput:focus + .label {
              bottom: 40px;
              font-size: 1.2rem;
            }

            .antInput:not(:placeholder-shown) + .label {
              bottom: 40px;
              font-size: 1.2rem;
            }

            .antInput::placeholder {
              display: none;
              color: transparent;
            }

            .antInput {
              width: 100%;
              height: 6rem;
              padding: 20px 16px 0;

              border: 1px solid #2d2f31;

              border-radius: 0px;

              font-weight: 400;
              line-height: 1.4;
              font-size: 1.6rem;
              color: #2d2f31;
            }
          }
          .errorMessage {
            display: block;
            padding: 0 16px;
            color: red;
          }
        }

        .signUpBtn {
          width: 100%;
        }
      }

      .helperAuth {
        text-align: center;
        .seperator {
          border-top: 1px solid #d1d7dc;
          margin: 1.6rem 0;
        }

        .link {
          color: #5624d0;
        }
        .link:active {
          color: #5624d0;
        }
      }
    }
  }
}
