.inputWrapper {
  width: auto;
  border: 1px solid #2d2f31;

  display: flex;
  align-items: center;

  :global {
    .input {
      flex: 1;
      height: 34px;
      padding-left: 16px;
      text-decoration: none;
    }

    .input::placeholder {
      color: #6a6f73;
    }

    .charLength {
      margin-left: auto;
      color: #6a6f73;

      padding: 0 16px;
    }
  }
}
