.mainLayout {
  .contentWrapper {
    margin: 0 auto;
  }

  .footerWrapper {
    background-color: var(--color-gray-600);
    :global {
      .notice-part {
        display: flex;
        align-items: center;

        padding: 12px 32px;
        .slogan {
          flex: 1;

          font-weight: 700;
          line-height: 1.2;
          letter-spacing: 0;
          font-size: 1.9rem;

          color: var(--color-gray-100);

          a {
            color: var(--color-blue-250);

            &:hover {
              border-bottom: 2px solid var(--color-blue-250);
            }
          }
        }

        .partner-logos {
          flex: 1;

          img {
            margin: 1.2rem 2.4rem 1.2rem 0;
            height: 4.4rem;
          }
        }
      }

      .footer-section-main {
        padding: 24px 48px 0;

        .links-and-language-selector {
          border-top: 1px solid #3e4143;
          color: white;

          display: flex;
          align-items: center;

          .language-setting {
            flex: 1;
            position: relative;
            .language-btn {
              position: absolute;
              top: 0;
              right: 0;

              padding: 0 1.6rem;
              min-width: 14rem;
              height: 4rem;

              border: 2px solid white;
              color: white;

              display: flex;
              align-items: center;
              span {
                margin-left: 4px;
                font-size: 16px;
              }
            }
          }

          .link-column {
            max-width: 256px;
            flex: 1;
            li {
              font-weight: 400;
              line-height: 1.4;
              font-size: 1.4rem;
              color: #fff;
              display: block;
              padding: 0.4rem 0;

              cursor: pointer;
              font-weight: 400;

              &:hover {
                text-decoration: underline;
                // border-bottom: 1px solid white;
              }
            }
          }
        }

        .logo-and-copyright {
          padding: 64px 0 32px;

          color: white;

          display: flex;
          align-items: center;
          justify-content: space-between;

          .copyright-container {
            display: flex;
            align-self: center;
          }
        }
      }
    }
  }
}
