.NotAuthHomePage {
  padding: 0 24px;
  :global {
    .heroSection {
      position: relative;
      .heroSlide {
        width: 100%;
        position: relative;

        .imageContainer {
          img {
            width: 100%;
          }
        }

        .contentBox {
          position: absolute;

          top: 7.2rem;
          left: 6.4rem;

          max-width: 440px;
          width: 440px;
          padding: 24px;

          background-color: #fff;
          .title {
            margin-bottom: 8px;
          }

          .subtitle {
          }

          .action {
            margin-top: 16px;
          }
        }
      }

      .btnArrow {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-color: red;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        z-index: 11;
        background-color: var(--color-gray-500);
        cursor: pointer;

        svg {
          color: white;
        }
      }

      .leftArrow {
        top: 50%;
        left: 1.5rem;
      }

      .rightArrow {
        top: 50%;
        right: 1.5rem;
      }
    }

    .partnerSection {
      padding: 64px;

      .heading {
        color: #6a6f73;
        font-weight: 400;
        margin-bottom: 2.4rem;
        font-size: 1.9rem;
        max-width: 100%;

        text-align: center;
      }

      .partnerLogos {
        ul {
          display: flex;
          align-items: center;
          justify-content: space-between;
          li {
          }
        }
      }
    }

    .tabSection {
      margin-bottom: 48px;
      .ant-tabs {
        .ant-tabs-nav {
          .ant-tabs-nav-wrap {
            .ant-tabs-nav-list {
              .ant-tabs-ink-bar.ant-tabs-ink-bar-animated {
                background-color: black;
              }

              & .ant-tabs-tab:not(:first-child) {
                margin-left: 1.6rem;
              }
              .ant-tabs-tab {
                padding: 0px;

                display: flex;
                align-items: center;

                color: #6a6f72;
              }

              .ant-tabs-tab:hover {
                color: #2d2f31;
              }

              .ant-tabs-tab-active {
                color: #2d2f31;
              }

              .ant-tabs-tab-btn {
                padding: 8px 4px;
                color: var(--tabs-nav-color-active);
                height: 4.8rem;

                font-family: var(--font-stack-heading);
                font-weight: 700;
                line-height: 1.2;
                letter-spacing: 0;
                font-size: 1.6rem;

                display: inline-flex;
                align-items: center; /* Center vertically */
              }
            }
          }
        }
      }
    }
  }
}
