.instructorLayout {
  :global {
    .headerWrapper {
      .headerInner {
        height: 7.2rem;
        z-index: 1010;

        display: flex;
        justify-content: end;
        align-items: center;

        .studentBtn {
          display: flex;
          align-items: center;
          justify-content: center;

          padding: 0 12px;
          a {
            color: #2d2f31;
          }
          a:hover,
          a:active {
            color: #5624d0;
          }
        }

        .notificationBtn {
          width: 48px;
          height: 48px;
          margin: 12px 0;

          font-size: 20px;

          display: flex;
          align-items: center;
          justify-content: center;

          padding: 0 12px;

          &:hover {
            color: #5624d0;

            svg {
              fill: #5624d0;
            }
          }
        }

        .avatar-ud-btn {
          margin: 12px 0;
          height: 4.8rem;
          min-width: 40px;
          .avatar-container {
            margin: 8px;
            border-radius: 50%;

            overflow: hidden;

            width: 32px;
            height: 32px;

            cursor: pointer;

            .avatar {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }

    .mainContent {
      .mainContentInner {
        display: flex;
        align-items: start;
        .sideNavWrapper {
          margin-top: -7.2rem;

          width: 5.6rem;
          align-self: stretch;
          position: relative;

          .sideNavInner:hover .ulContainer .itemContainer.logoImgContainer::after {
            opacity: 0;
          }

          .sideNavInner {
            width: 5.6rem;
            height: 100%;

            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;

            transition: width 400ms cubic-bezier(0.2, 0, 0.38, 0.9);
            background-color: #2d2f31;
            color: white;

            box-shadow:
              0 4px 8px rgba(0, 0, 0, 0.08),
              0 4px 12px rgba(0, 0, 0, 0.24);

            overflow: hidden;

            &:hover {
              width: 28.6rem;
            }

            .ulContainer {
              a,
              a:hover,
              a:active {
                color: white;
              }
              .itemContainer {
                display: flex;
                align-items: center;
                justify-content: start;
                padding: 16px;

                &:hover,
                &:active,
                &:visited {
                  background-color: #3e4143;
                  outline-offset: -4px;

                  box-shadow: 4px 0 #a435f0 inset;
                }
                .iconContainer {
                  display: flex;
                  align-items: center;
                  width: 24px;
                  height: 24px;
                  font-size: 24px;
                }

                .spanText {
                  padding-left: 24px;
                  margin-left: 4px;
                }
              }

              .itemContainer.logoImgContainer {
                position: relative;

                .logoImg {
                  margin-left: 4px;
                }
              }

              .itemContainer.logoImgContainer::after {
                content: '';
                display: block;
                position: absolute;
                top: 1.3rem;
                left: 3.6rem;
                height: 4rem;
                width: 25.1rem;
                background-color: #2d2f31;
                opacity: 1;
                transition: opacity 400ms linear;
              }
            }
          }
        }

        .mainContainer {
          flex: 1;

          margin-bottom: 6.4rem;
          padding: 0px 48px;

          height: 2000px;
        }
      }
    }
  }
}

.rootDropDownAvatar {
  :global {
    .ant-dropdown-menu {
      width: 260px;
      padding: 0px;

      border-radius: 0px;

      & > *:not(:first-child) {
        border-top: 1px solid rgb(209, 215, 220);
      }

      .ant-dropdown-menu-item {
        &:hover {
          background-color: transparent;
        }
        padding: 8px 0px;

        .ud-block-list {
          .ud-block-list-item {
            &:hover {
              color: #5624d0;
            }
            padding: 8px 16px;
          }
        }

        .basicInfo {
          padding: 16px;
          display: flex;
          align-items: center;

          .avatarContainer {
            overflow: hidden;
            border-radius: 50%;

            width: 64px;
            height: 64px;

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
            }
          }

          .infoText {
            margin-left: 8px;

            .email {
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: #6a6f73;
              margin-top: 0.4rem;
              max-width: 15.4rem;
            }
          }
        }
      }
    }
  }
}
