.blockListItem.previewable {
  cursor: pointer;
  :global {
    .blockListItem-content {
      width: 100%;
      font-size: 14px;
      display: flex;
      align-items: center;

      .title {
        flex: 1;
        button {
          color: #5624d0;
          text-decoration: underline;
        }
      }

      .previewBtn {
        color: #5624d0;
        text-decoration: underline;
        margin-left: 3.2rem;

        cursor: pointer;
      }
    }
  }
}

.blockListItem {
  :global {
    font-size: 16px;
    display: flex;
    align-items: center;
    .blockListItem-content {
      width: 100%;
      font-size: 14px;
      display: flex;
      align-items: center;

      .title {
        flex: 1;

        button {
          color: #6a6f73;
        }

        .title-span {
          padding: 0 12px;
        }
      }

      .duration {
        color: #6a6f73;
        margin-left: 3.2rem;
      }
    }
  }
}
