.instructorSection {
  margin-bottom: 3.2rem;
  :global {
    .title {
      margin-bottom: 1.6rem;
    }

    .instructorTitle {
      margin-bottom: 8px;
    }

    .jobTitle {
      color: #6a6f73;
    }

    .imageAndStats {
      margin-top: 8px;
      display: flex;
      align-items: center;
      .imgContainer {
        height: 112px;
        width: 112px;
        margin-right: 16px;

        border-radius: 50%;

        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .stats {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        div {
          padding: 0.4rem 0;
          display: flex;
          align-items: center;

          span {
            margin-left: 16px;
          }
        }
      }
    }

    .description {
      margin-top: 8px;

      max-height: 15rem;
      overflow: hidden;
    }
    .description.show {
      max-height: none;
    }

    .showBtn {
      display: flex;
      align-items: center;
      gap: 10px;
      .iconArrow {
        transition: transform 150ms linear;
      }

      .iconArrow.rotate {
        transform: rotate(180deg);
      }
    }
  }
}
