.reviewSection {
  :global {
    .title {
      display: flex;
      align-items: center;

      margin-bottom: 16px;
      gap: 15px;

      .courseRating {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .ratingCount {
      }
    }

    .reviews {
      display: flex;
      flex-wrap: wrap;

      & > :nth-child(even) {
        margin-left: 1.6rem;
      }
      & > :nth-child(odd) {
        margin-right: 1.6rem;
      }

      .reviewContainer {
        border-top: 1px solid #d1d7dc;
        padding: 2.4rem 0 3.2rem;
        width: calc(50% - 1.6rem);
        & > :not(:last-child) {
          margin-bottom: 16px;
        }
        .heading {
          display: flex;
          align-items: center;

          .imgContainer {
            width: 40px;
            height: 40px;
            margin-right: 16px;

            img {
              width: 100%;
              height: 100%;
            }
          }

          .name-and-rating {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .name {
            }

            .rating {
              display: flex;
              align-items: center;
            }
          }

          .moreIcon {
            font-size: 20px;
          }
        }

        .content {
          display: -webkit-box !important;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: normal;
        }

        .feedback {
          display: flex;
          align-items: center;
          gap: 20px;

          font-size: 20px;

          svg {
            cursor: pointer;
          }
        }
      }
    }
  }
}

.rootClassModal {
  :global {
    .ant-modal {
      width: 920px !important;
      .ant-modal-content {
        width: 920px !important;
        padding: 24px;

        border-radius: 0px;

        .title {
          display: flex;
          align-items: center;

          padding: 0 36px 24px 0;

          .starIcon {
            font-size: 18px;
            margin-right: 8px;
          }
        }

        .content {
          display: flex;
          align-items: start;
          .reviewControls {
            margin: 0 48px 24px 0;

            width: 220px;
            .ratingFilter {
              .filterRow {
                display: flex;
                align-items: center;

                margin-bottom: 8px;

                cursor: pointer;
                .ratingPercentBar {
                  width: 75px;
                  height: 8px;
                  background-color: #d1d7dc;
                  margin-right: 12px;

                  position: relative;

                  .inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 8px;
                    background-color: #6a6f73;
                    width: 50%;
                  }

                  .star {
                    font-size: 4px !important;
                  }
                }

                .ratePercent {
                  display: block;
                  white-space: nowrap;
                  min-width: 4rem;
                  text-align: left;
                  margin-left: 0.8rem;
                  color: #5624d0;
                  text-decoration: underline;
                }
                .closeBtn {
                  margin-left: auto;
                  font-size: 16px;

                  cursor: pointer;
                }
              }
            }
          }

          .reviewList {
            .reviewContainer {
              border-top: 1px solid #d1d7dc;
              padding: 2.4rem 0 3.2rem;
              // width: calc(50% - 1.6rem);
              & > :not(:last-child) {
                margin-bottom: 16px;
              }
              .heading {
                display: flex;
                align-items: center;

                .imgContainer {
                  width: 40px;
                  height: 40px;
                  margin-right: 16px;

                  img {
                    width: 100%;
                    height: 100%;
                  }
                }

                .name-and-rating {
                  flex: 1;
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  .name {
                  }

                  .rating {
                    display: flex;
                    align-items: center;
                  }
                }

                .moreIcon {
                  font-size: 20px;
                }
              }

              .content {
                display: -webkit-box !important;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
              }

              .feedback {
                display: flex;
                align-items: center;
                gap: 20px;

                font-size: 20px;

                svg {
                  cursor: pointer;
                }
              }
            }
          }
        }
      }

      .ant-modal-footer {
        display: none;
      }
    }
  }
}
