.pageWrapper {
  :global {
    .pageHeader {
      color: #fff;
      background-color: #2d2f31;
      height: 5.6rem;
      align-items: center;
      border-bottom: 1px solid #3e4143;

      display: flex;
      justify-content: center;

      align-items: center;

      .headerContent {
        height: 100%;
        padding: 0 1.6rem;

        width: 100%;
        position: relative;

        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 2.4rem;
          height: 100%;

          .navLink {
            display: flex;
            align-items: center;
          }

          .verticalDivider {
            height: 40%;
            border-left: 1px solid #3e4143;
          }

          .title {
            flex: 1;
            .courseTitle {
              font-size: inherit;
              font-weight: 400;
              max-width: 60rem;

              font-size: 16px;

              .titleNavLink {
                &:hover {
                  color: #d1d7dc;
                }
                cursor: pointer;
              }
            }
          }

          .progressContainer {
            display: flex;
            align-items: center;

            color: white;
            .antdProgress {
              display: flex;
              align-items: center;

              .ant-progress-circle-trail {
                stroke: rgb(106, 111, 115);
              }

              .ant-progress-circle-path {
                stroke: white;
              }
            }

            .text {
              margin-left: 8px;
            }

            .downArrow {
              margin-left: 8px;
            }
          }

          .menuOptions {
            display: flex;
            gap: 8px;
          }
        }
      }
    }

    .pageContainer {
      display: flex;
      .containerContent {
        width: 75%;
        background-color: white;

        .lectureContent {
          height: 650px;

          background-color: red;

          .videoWrapper {
            background-color: green;
            height: 650px;
            width: 75%;

            overflow: hidden;

            .iframeElement {
              height: 100%;
              width: 100%;
            }
          }
        }

        .curriculumSiderbar {
          top: 56px;
          right: 0;
          position: fixed;
          width: 25%;
          min-width: 300px;

          display: flex;
          flex-flow: column;
          height: 100%;

          .sidebar--header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.8rem 0.8rem 0.8rem 1.6rem;
            border: 1px solid #d1d7dc;
            background-color: #fff;

            .sidebar--closeBtn {
              padding: 8px;
            }
          }

          .sidebar--content {
            // z-index: 1;
            // flex: 1;
            // background-color: #fff;
            // border: 1px solid #f7f9fa;
            overflow-x: hidden;
            overflow-y: auto;

            .learningLectureItem {
              display: flex;
              align-items: start;
              gap: 16px;
              padding: 8px 16px;

              &:hover {
                background-color: #d1d7dc;

                cursor: pointer;
              }

              .inputContainer {
                width: 16px;
                height: 16px;

                .inputElement {
                  accent-color: black;
                  margin-top: 0.2rem;

                  display: inline-block;
                }
              }

              .itemContainer {
                .bottomRow {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  padding-top: 0.8rem;

                  .metaData {
                    display: flex;
                    align-items: center;
                    gap: 0.4rem;
                  }

                  .resourcePopper {
                    .ud-btn > :not(:first-child) {
                      margin-left: 4px;
                    }
                  }
                }
              }
            }
          }
        }

        .dashboardSection {
          padding: 0 16px;

          .sizingWrapper,
          .tabWrapper {
            margin: 0 auto;
            max-width: 84.8rem;
            padding: 3.2rem 2.4rem 0;
          }
        }
      }
    }
  }
}

.rootDropdown {
  :global {
    .ant-dropdown-menu {
      border-radius: 0px;

      width: 280px;

      padding: 8px 0px;

      .ant-dropdown-menu-item {
        padding: 8px 16px;

        .ud-block-list-item {
          display: flex;
          align-items: flex-start;
          width: 100%;
          height: auto;
          text-align: left;
          letter-spacing: normal;
          white-space: normal;
          &:hover {
            color: #5624d0;
          }
          color: #2d2f31;

          .downloadIcon {
            margin-top: 0.3rem;
          }

          .ud-block-list-item-content {
            margin-left: 1.6rem;

            flex: 1;
            min-width: 1px;
          }
        }
      }
    }
  }
}

.rootTabs {
  :global {
    .ant-tabs-tab {
      padding: 0px;

      .navBtn {
        color: #6a6f73;
      }
    }

    .ant-tabs-tab:hover {
      .navBtn {
        color: #2d2f31;
      }
    }

    .ant-tabs-tab.ant-tabs-tab-active {
      .navBtn {
        color: #2d2f31;
      }
    }

    .ant-tabs-tab + .ant-tabs-tab {
      margin: 0 0 0 16px;
    }

    .ant-tabs-ink-bar,
    .ant-tabs-ink-bar-animated {
      background: #2d2f31;
    }
  }
}

.commentSectionWrapper {
  :global {
    .title {
      display: flex;
      align-items: center;

      padding: 0 36px 24px 0;

      .starIcon {
        font-size: 18px;
        margin-right: 8px;
      }
    }

    .content {
      .ratingPart {
        display: flex;
        align-items: center;

        margin-bottom: 32px;

        .averageContainer {
          display: flex;
          flex-direction: column;
          color: #b4690e;

          align-items: center;

          font-weight: 700;

          .ratingNumber {
            font-size: 64px;
          }
        }
        .reviewControls {
          flex: 1;

          width: 220px;
          .ratingFilter {
            margin-left: 32px;

            .filterRowContainer {
              position: relative;

              .filterRow {
                width: 100%;
                display: flex;
                align-items: center;

                margin-bottom: 8px;

                cursor: pointer;

                .ratingPercentBar {
                  flex: 1;
                  width: 75px;
                  height: 8px;
                  background-color: #d1d7dc;
                  margin-right: 12px;

                  position: relative;

                  .inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 8px;
                    background-color: #6a6f73;
                    width: 50%;
                  }

                  .star {
                    font-size: 4px !important;
                  }
                }

                .ratePercent {
                  display: block;
                  white-space: nowrap;
                  min-width: 4rem;
                  text-align: left;
                  margin-left: 0.8rem;
                  color: #5624d0;
                  text-decoration: underline;
                }
              }

              .closeBtn {
                position: absolute;
                right: 0px;
                top: 1px;

                margin-left: auto;
                font-size: 16px;

                cursor: pointer;
              }
            }
          }
        }
      }

      .reviewPart {
        .filterRegion {
          display: flex;
          align-items: end;

          .flex-1 {
            flex: 1;
          }

          .ml-32 {
            margin-left: 32px;
          }
          .searchContainer {
            flex: 1;
            display: flex;
          }
        }
        .reviewList {
          .reviewContainer {
            border-top: 1px solid #d1d7dc;
            padding: 2.4rem 0 3.2rem;

            & > :not(:last-child) {
              margin-bottom: 8px;
            }
            .heading {
              display: flex;
              align-items: center;

              .imgContainer {
                width: 40px;
                height: 40px;
                margin-right: 16px;

                img {
                  width: 100%;
                  height: 100%;
                }
              }

              .name-and-rating {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .name {
                }

                .rating {
                  display: flex;
                  align-items: center;
                }
              }

              .moreIcon {
                font-size: 20px;
              }
            }

            .content {
              display: -webkit-box !important;
              -webkit-line-clamp: 5;
              -webkit-box-orient: vertical;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: normal;
            }

            .feedbackTitle {
              font-size: 1.2rem;
              font-weight: 400;
              max-width: 60rem;
            }

            .feedback {
              display: flex;
              align-items: center;
              gap: 20px;

              font-size: 20px;

              svg {
                cursor: pointer;
              }

              .review-report-abuse {
                color: #2d2f31 !important;
                text-decoration: underline;
                height: inherit;

                font-weight: normal;
              }

              .btnContainer {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;

                border-radius: 50%;
                border: 1px solid #2d2f31;

                &:hover {
                  color: var(--color-gray-500);
                  background-color: rgba(23, 57, 83, 0.12);
                }
              }
            }
          }
        }

        .reviewShowMore {
          display: flex;
          flex-direction: column;
          margin-top: 2.5rem;
        }
      }
    }
  }
}

.rootSpin {
  margin-left: 50%;
}

.pageHeader_rootTooltip {
  :global {
    .ant-tooltip-content {
      .ant-tooltip-inner {
        padding: 24px;
        width: 320px;
      }
    }
  }
}

.qaSectionWrapper {
  :global {
    .filterQAPart {
      .maxW-100 {
        max-width: 100%;
        .searchContainer {
          flex: 1;
          display: flex;
        }
      }

      .flex {
        display: flex;

        align-items: start;
        gap: 16px;

        .ud-form-group {
          margin-top: 16px;
        }
      }
    }

    .questionListWrapper {
      margin-top: 4.8rem;
      .resultSummary {
        display: flex;
        .summaryNumber {
          color: #6a6f73;
          margin-left: 0.8rem;
          line-height: 1.5;
        }
      }

      .questionList {
        .questionItemWrapper {
          display: flex;
          align-items: start;
          gap: 16px;

          padding: 16px 24px;
          .avatarWrapper {
            border-radius: 50%;

            overflow: hidden;

            width: 32px;
            height: 32px;

            cursor: pointer;

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .infoContainer {
            flex: 1;

            .bodyContent {
            }
          }

          .questionLinkRow {
            display: flex;
            align-items: start;

            .textContent {
              .bodyContent {
                margin-top: 4px;
              }
            }
            .responseNumContainer {
              text-align: right;

              display: flex;
              flex-direction: column;
              gap: 8px;
              .upvoteContainer {
                color: #6a6f73;
                padding: 0 0.8rem;

                &:hover {
                  color: #2d2f31;
                }

                .numUpvote {
                  color: #2d2f31;
                }
              }
            }
          }

          .metaData {
            display: flex;
            align-items: start;

            margin-top: 16px;
            & > span:not(:first-child)::before {
              content: '●';
              margin: 0 0.4rem;
              font-size: 0.6rem;
            }
          }
        }
      }
    }
  }
}

.answerModalWrapper {
  :global {
    .ant-modal {
      width: 920px !important;
      max-height: 80vh;
      .ant-modal-content {
        width: 920px !important;
        max-height: 80vh;

        overflow: auto;

        padding: 48px 24px;

        border-radius: 0px;

        .flex-center {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .title {
          display: flex;
          align-items: center;

          padding: 0 36px 24px 0;

          .starIcon {
            font-size: 18px;
            margin-right: 8px;
          }
        }

        .content {
          .customQuestionItemWrapper {
            display: flex;
            align-items: start;
            gap: 16px;

            padding-bottom: 24px;

            .avatarWrapper {
              border-radius: 50%;

              overflow: hidden;

              width: 32px;
              height: 32px;

              cursor: pointer;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .infoContainer {
              flex: 1;

              width: 100%;

              .questionLinkRow {
                flex: 1;
                display: flex;
                align-items: start;

                .textContent {
                  flex: 1;
                }
                .responseNumContainer {
                  text-align: right;

                  display: flex;
                  flex-direction: column;
                  gap: 8px;
                  .upvoteContainer {
                    color: #6a6f73;
                    padding: 0 0.8rem;

                    &:hover {
                      color: #2d2f31;
                    }

                    .numUpvote {
                      color: #2d2f31;
                    }
                  }
                }
              }

              .metaData {
                display: flex;
                align-items: start;

                & > span:not(:first-child)::before {
                  content: '●';
                  margin: 0 0.4rem;
                  font-size: 0.6rem;
                }
              }

              .bodyContent {
                margin-top: 16px;
              }
            }
          }

          .separatorContainer {
            padding-bottom: 16px;
          }
          .answerItemWrapper {
            display: flex;
            align-items: start;
            gap: 16px;

            padding: 16px 24px;
            .avatarWrapper {
              border-radius: 50%;

              overflow: hidden;

              width: 32px;
              height: 32px;

              cursor: pointer;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .infoContainer {
              flex: 1;

              .answerItemLinkRow {
                display: flex;

                .userName {
                  flex: 1;
                }

                .moreBtn {
                  color: #6a6f73;
                  padding: 0 0.8rem;
                }

                .moreBtn:hover {
                  color: #2d2f31;
                }
              }

              .bodyContent {
                margin-top: 16px;
              }
            }
          }

          .addYourAnswerWrapper {
            margin-top: 32px;
            .ud-form-group {
              max-width: none;
            }
          }

          .loadMoreBtn {
            width: 100%;
          }
        }
      }

      .ant-modal-footer {
        display: none;
      }
    }
  }
}
