.lectureItemWrapper {
  margin: 0 0 24px 60px;

  :global {
    .normalWrapper {
      display: flex;
      align-items: center;

      padding: 11px 8px;
      border: 1px solid #6a6f73;

      .leftRegion {
        flex: 1;
        display: flex;
        align-items: center;
        gap: 4px;

        line-height: 1;

        .iconContainer {
          display: flex;
          align-items: center;
          font-size: 16px;
        }

        .editBtn,
        .deleteBtn {
          width: 28px;
          height: 28px;
          display: flex;
          align-items: center;
          justify-content: center;

          cursor: pointer;

          opacity: 0;
        }
      }

      &:hover {
        .editBtn,
        .deleteBtn {
          opacity: 1;
        }
      }

      .rightRegion {
        margin-left: auto;
        display: flex;
        align-items: center;

        gap: 8px;
        .addBtn {
          display: flex;
          align-items: center;
          gap: 4px;
          line-height: 1;
        }

        .showBtn {
          width: 24px;
          height: 24px;

          cursor: pointer;
        }
      }
    }

    .showWrapper {
      padding: 11px 8px;
      border: 1px solid #6a6f73;
      border-top: 0;

      & > *:not(:first-child) {
        border-top: 1px solid #d1d7dc;
        margin-top: 0.8rem;
        padding-top: 0.8rem;
      }

      .contentContainer {
        .lectureHeader {
          display: flex;
          align-items: start;
          gap: 8px;
          .imgContainer {
            width: 110px;
            height: 60px;

            object-fit: cover;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
            }
          }

          .lectureInfo {
            display: flex;
            flex-direction: column;
            .fileName {
            }

            .timeLength {
            }

            .editContentBtn {
              height: auto;
              min-width: auto;
              padding: 0;
              color: #5624d0;

              display: flex;
              align-items: center;

              justify-content: start;
              gap: 4px;

              &:hover {
                color: #401b9c;
              }
            }
          }
        }

        .lectureSetting {
        }
      }
      .descContainer {
        .desc-text {
          border: 1px solid transparent;
          cursor: pointer;

          &:hover {
            border-color: #d1d7dc;
          }
        }
      }

      .materialContainer {
        & > .materialItem {
          margin-top: 4px;
        }
        .materialTitle {
        }

        .materialItem {
          display: flex;
          align-items: center;
          gap: 8px;

          .iconContainer {
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .deleteContainer {
            cursor: pointer;
            margin-left: auto;
          }
        }
      }

      .btnRegion {
        & > *:not(:first-child) {
          margin-top: 8px;
        }
        .addBtn {
          display: flex;
          align-items: center;
          gap: 4px;

          line-height: 1;
        }
      }
    }

    .addContentWrapper {
      padding: 8px;
      border: 1px solid #6a6f73;
      border-top: 0;

      position: relative;

      display: flex;
      justify-content: center;

      .tabTitleContainer {
        position: absolute;
        bottom: 100%;
        right: 3.2rem;
        max-width: 90%;
        border: 1px solid #6a6f73;
        border-bottom: 1px solid white;

        padding: 0.8rem;

        display: flex;
        align-items: center;
        gap: 8px;
        .iconBtn {
          font-size: 20px;

          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
    .selectContentTypeWrapper {
      padding: 8px;
      border: 1px solid #6a6f73;
      border-top: 0;

      position: relative;

      display: flex;
      justify-content: center;
      .imageContainer {
        padding: 4px;
        width: 88px;
        height: 60px;
        border: 1px solid #d1d7dc;
        background-color: #f7f9fa;

        cursor: pointer;

        margin: 0px auto;
        &:hover {
          background-color: #2d2f31;

          .multiChoiceBtn {
            .iconContainer {
              svg {
                stroke: white;
              }
            }
            .text {
              color: white;
            }
          }
        }

        .multiChoiceBtn {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          color: #d1d7dc;
          .iconContainer {
            width: 100%;
            flex: 1;
            font-size: 24px;

            display: flex;
            align-items: center;
            justify-content: center;
          }
          .text {
            width: 100%;
            text-align: center;
            color: #2d2f31;
            background-color: #d1d7dc;

            font-size: 10px;
          }
        }
      }

      .tabTitleContainer {
        position: absolute;
        bottom: 100%;
        right: 3.2rem;
        max-width: 90%;
        border: 1px solid #6a6f73;
        border-bottom: 1px solid white;

        padding: 0.8rem;

        display: flex;
        align-items: center;
        gap: 8px;
        .iconBtn {
          font-size: 20px;

          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }

    .addContentWrapper {
      padding: 8px;
      border: 1px solid #6a6f73;
      border-top: 0;

      position: relative;

      display: flex;
      justify-content: center;

      .formAntd {
        width: 100%;

        .ant-btn {
          border-radius: 0px;
          border: 1px solid #6a6f73;
        }

        .uploadBtn:hover {
          background-color: var(--color-gray-400);
          color: var(--color-white);
        }
      }

      .tabTitleContainer {
        position: absolute;
        bottom: 100%;
        right: 3.2rem;
        max-width: 90%;
        border: 1px solid #6a6f73;
        border-bottom: 1px solid white;

        padding: 0.8rem;

        display: flex;
        align-items: center;
        gap: 8px;
        .iconBtn {
          font-size: 20px;

          display: flex;
          align-items: center;
          cursor: pointer;
        }
      }
    }
  }
}
