.sectionItemWrapper {
  font-size: 16px;

  border: 1px solid #6a6f73;

  margin-top: 64px;

  padding: 8px;

  :global {
    .sectionHeader {
      display: flex;
      align-items: center;
      gap: 12px;
      padding: 19px 8px;
      .title {
        display: flex;
        align-items: center;
        gap: 6px;

        .iconContainer {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      .btnPart {
        flex: 1;
        display: flex;
        align-items: center;

        gap: 12px;

        .btnContainer {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;

          svg {
            fill: #2d213f;
          }
          &:hover {
            svg {
              fill: #101011;
            }
          }
        }

        .dragBtn {
          margin-left: auto;
        }
      }
    }
  }
}
