.courseDetailPage {
  :global {
    .topContainer {
      padding: 32px 0;
      background-color: #2d2f31;

      color: white;
      .inner {
        max-width: 1184px;
        margin: 0 auto;

        .mainContent {
          width: 700px;
          margin: 0 4.8rem;

          .topicMenu {
            margin-bottom: 16px;
            .breadCumb {
              display: flex;
              align-items: center;
              span {
                color: #c0c4fc;
              }
            }
          }

          .title {
            margin-bottom: 16px;
          }

          .headline {
            margin-bottom: 24px;
            font-size: 1.9rem;
          }

          .ratingContainer {
            display: flex;
            align-items: center;
            gap: 8px;
            margin-bottom: 16px;

            .ratingCount {
              margin-left: 10px;
              color: #c0c4fc;
              text-decoration: underline;
            }
          }

          .instructor {
            a {
              margin-left: 10px;
              color: #c0c4fc;
              text-decoration: underline;
            }
          }

          .meta {
            display: flex;
            align-items: center;
            gap: 20px;
            .updated {
              display: flex;
              align-items: center;
              gap: 10px;
            }

            .language {
              display: flex;
              align-items: center;
              gap: 10px;
            }
          }
        }
      }
    }

    .bodyContainer {
      .inner {
        max-width: 1184px;
        margin: 0 auto;
        .mainContent {
          width: 700px;
          margin: 32px 4.8rem;

          .curriculumContainer {
            margin-bottom: 3.2rem;
            .header {
            }

            .subheader {
              display: flex;
              align-items: center;
              justify-content: space-between;
              .contentLength {
              }
            }

            .section-panel-list:is(:last-child) {
              border-bottom: 1px solid #d1d7dc;
            }

            .moreSectionBtn {
              margin-top: 1.6rem;
              width: 100%;
            }
          }
        }
      }
    }
  }
}
