.textEditorWrapper {
  margin-top: 16px;
  border-color: #2d2f31;

  :global {
    .ql-editor.ql-blank::before {
      font-size: 14px;
      font-style: initial;
      height: 100%;
    }
  }
}
